{% extends "layout/layout.html" %}
{% block title %}Contact{% endblock %}
{% block content %}

<section class="section">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-6 mb-5">
                <h2 class="font-weight-bold mb-4">Central Office</h2>
                <ul class="list-unstyled contact-list c-p-l">
                    <li class="mb-3"><a class="color-lc" href="tel:+212537778480"><i
                                class="tf-ion-ios-telephone mr-2"></i>
                            +2125-3777-8480</a></li>
                    <li class="mb-3"><a class="color-lc" href="mailto:contact@oglobe.ma"><i
                                class="tf-ion-email mr-2"></i>contact@oglobe.ma</a>
                    </li>
                    <li class="mb-3"><a class="color-lc" href="{{ url_for('location') }}"><i
                                class="tf-ion-ios-location mr-2"></i>11 Rue Al Achaari, Rabat 10090
                        </a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 mb-5">
                <h2 class="font-weight-bold mb-4">We're Also In</h2>
                <div class="social-icon">
                    <ul class="smnav c-p-l">
                        <li>
                            <a href="https://www.facebook.com/oglobegourmet">
                                <i class="uil uil-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="uil uil-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="uil uil-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="uil fa-brands fa-tiktok"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="font-weight-bold mb-4">Contact</h2>
                <form action="{{ url_for('contact') }}" method="POST" class="row">
                    <div class="col-lg-6 mb-3">
                        <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Your Name"
                            required>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Your Email"
                            required>
                    </div>
                    <div class="col-12 mb-3">
                        <input type="text" class="form-control mb-2" id="subject" name="subject" placeholder="Subject"
                            required>
                    </div>
                    <div class="col-12 mb-3">
                        <textarea name="message" id="message" class="form-control mb-2" placeholder="Message"
                            required></textarea>
                    </div>
                    <div class="col-12 text-right">
                        <button type="submit" value="send" class="btn btn-main color-lc btn-main-sm"><i class="fa-solid fa-paper-plane"></i> Send Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
